<div id="topbar">
    <div class="tl_w wrap_top">
        <ul class="fl tl_btn_link">
            <li><a href="/">首页</a></li>
            <li><a target="_blank" href="/page/buy">我要买货</a></li>
            <li><a target="_blank" href="/page/sell">我要卖货</a></li>
            <li><a target="_blank" href="/page/zixun">行业资讯</a></li>
            <li><a target="_blank" href="/page/help">帮助中心</a></li>
            <li ng-click="abuo()"><a target="_blank" href="/page/about/index.html?code=GYTL&lm=关于淘绿">关于我们</a></li>
        </ul>
        <ul class="fr tl_btn_nav">
            <li class="yes_log"><font>您好</font>,<a class="name" href="/page/user" style="color:#f62d13;">crtyue52</a></li>
            <li class="yes_log"><a id="out_login" href="javascript:;">退出</a></li>
            <li class="no_log"><a href="/page/reg/registered.html" style="color:#f62d13;">注册</a></li>
            <li class="no_log"><a href="/page/reg/login.html">登录</a></li>
            <li class="phone">
              <a href="">手机版</a>
              <div class="drop_down">
                    <img src="<%= require('images/fwh_code.jpg') %>" height="129" width="129">
                    <p>淘绿公众号</p>
                </div>
            </li>
            <!--<li class="app">
                <a href="">APP下载</a>
                <div class="drop_down">
                    <img src="/images/fwh_code.jpg" height="129" width="129">
                    <p>淘绿公众号</p>
                </div>
            </li>-->
            <li class="nav">
                <a class="noBor" href="">网站导航</a>
                <div class="drop_down websiteNav">
                </div>
            </li>
        </ul>
    </div>
</div>