<%= nav %>
<div class='hide' ng-class="{show:pageLoading}">
	<div class="talent_banner">
		<!-- <p >承载希望，放飞梦想</p> -->
	</div>
	<div class="rczp">
		<p>
			<span class="fl" ng-bind="tljj.title"></span>
		</p>
		<!-- <div ng-bind-html="tljj.webBody" id="webBody">
		</div> -->
		<div id="webBody">
		</div>
		<!-- <div>
		   <div class="talent_top">
		    <div class="talent_head">
		     <p>有人说，淘绿网打造中国特色回收体系的服务平台，霸气外露；可我们更愿意强调，在铸就中国梦的绿色之路上我们刚起航</p>
		     <p>有人说，淘绿网不就是玩的捡垃圾，回收废料，气势逼人；可我们更愿意探讨，这国际认证的绿色工作给环境及我们的子孙后代的影响。</p>
		     <p>有人说，这个80后创业团队锋芒毕露；可我们更倾向于谈论个人梦想与民族梦想的荣辱相向。</p>
		    </div>
		    <div class="four_steps">
		     <div class="fl">
		      <dl>
		       <dt>
		        我们不想招摇
		       </dt>
		       <dd>
		        但是经历过美国环保公司合作、中国668城市分布服务之后，淘绿网正以公益环保的强劲势头服务众生，回收有道，比较之下，吆喝、走巷、竞价买卖那都是浮云，正规军才是产业链的最佳选择。
		       </dd>
		      </dl>
		      <dl>
		       <dt>
		        我们不想邀功
		       </dt>
		       <dd>
		        废旧电子行业的产业链完整回收体系由淘绿首次尝试，我们只在全国回收体系中迈出了勇敢的一步，虽然他刚满4岁。
		       </dd>
		      </dl>
		      <dl>
		       <dt>
		        我们不想比较
		       </dt>
		       <dd>
		        我们只有真诚的服务、技术的支撑、全局的把控及对行业发展的促进，我们更乐意懂得的人，成为我们的力量，给世人留下再生资源而不是垃圾矿山。
		        <br />我们不需要，一成不变的老套思想，未老先衰的“成熟理念”。
		       </dd>
		      </dl>
		      <dl>
		       <dt>
		        我们要找的是
		       </dt>
		       <dd>
		        因梦想，正在闪光或者围城发过光的你，虽然这些梦想一直被哪些所谓的高人直呼扯淡。但还坚持的你，不妨来淘绿网最能成就梦想的站点聊聊。是愤青，还是奇异分子，是鬼才，还是天马行空。只要有idea，完美的方案，还有为上帝服务的全心态度，这里肯定是你梦想的天堂。 如果，你想成为我们的细胞，一定要在互联网、或其他产业圈内摸爬滚打2年以上，一定要有家庭荣辱观，单枪匹马独断专行的，我们暂不收留，一定要有健康体魄美好心灵，独特头脑，有激情，更有热情。 我们不敢吹嘘，这是特区里最轻松最快乐的工作，只是我们能提供热情自由的工作氛围、国家级电子示范基地的办公场所、大口喝酒大口吃肉的家庭聚餐、拓展游玩的月度聚会、绝对实用功能齐全的五险一金！
		       </dd>
		      </dl>
		     </div>
		     <div class="fr">
		      <img src="http://oh34xvx3w.bkt.clouddn.com/92321494061630757.png" />
		     </div>
		    </div>
		    <div class="want_you">
		     <p>I WANT YOU</p>
		     <span>我们准备好了，剩下的就看你的了！让我们为你转身！</span>
		     <img src="http://oh34xvx3w.bkt.clouddn.com/12251494061677928.png" />
		    </div>
		   </div>
		   <div class="product_back">
		    <div class="product">
		     <p><img src="/images/about/zp1.jpg" /></p>
		     <div>
		      
		      <p><span>工作职责：</span><span>1、负责互联网产品的规划管理工作，包括需求收集、市场和竞品分析、制定产品规划 设计产品功能、跨部 门协调沟通、线上产品监控等；<br />2、负责管理具体功能的UE设计，不断优化产品体验，能够撰写高质量的需求文档等产品相关文档；<br />3、负责在项目推进过程中的跨部门协调沟通工作，能够协调各资源以确保产品按时完成并高质量上线；<br />4、关注产品运营，能够不断改进产品用户体验。</span></p>
		      <p><span>工作职责：</span><span>1、大专或以上学历，计算机、信息等相关专业；<br />2、三年或以上年限互联网行业产品设计经验，其中1年移动端产品工作经验；<br />3、熟悉互联网及移动互联网，IOS及Android手机平台特性，对移动互联网产品有深入的&nbsp;<br />了解，对移动用户界面设计有独到见解 ，能够根据平台特性策划出符合用户需求的产品，手机应用的重度体验爱好者；<br />4、具备清晰缜密的逻辑思维能力，出色的沟通能力和协调能力，拥有强烈的责任心和团队合作精神，有较强的数据分析能力，善于思考和总结，能够准确切中用户需求，把握产品核心；<br />5、具有互联网产品的成功经历优先考虑。</span></p>
		      <p><span>工作地点：</span><span>广东省深圳市福田区</span></p>
		     </div>
		    </div>
		   </div>
		   <div class="graphic_back">
		    <div class="graphic">
		     <p><img src="http://oh34xvx3w.bkt.clouddn.com/2311494061857469.png" /></p>
		     <div>
		      <p><span>工作地点：</span><span>广东省深圳市福田区</span></p>
		      <p><span>工作职责：</span><span>1、负责互联网产品的规划管理工作，包括需求收集、市场和竞品分析、制定产品规划 设计产品功能、跨部 门协调沟通、线上产品监控等；<br />2、负责管理具体功能的UE设计，不断优化产品体验，能够撰写高质量的需求文档等产品相关文档；<br />3、负责在项目推进过程中的跨部门协调沟通工作，能够协调各资源以确保产品按时完成并高质量上线；<br />4、关注产品运营，能够不断改进产品用户体验。</span></p>
		      <p><span>工作职责：</span><span>1、大专或以上学历，计算机、信息等相关专业；<br />2、三年或以上年限互联网行业产品设计经验，其中1年移动端产品工作经验；<br />3、熟悉互联网及移动互联网，IOS及Android手机平台特性，对移动互联网产品有深入的&nbsp;<br />了解，对移动用户界面设计有独到见解 ，能够根据平台特性策划出符合用户需求的产品，手机应用的重度体验爱好者；<br />4、具备清晰缜密的逻辑思维能力，出色的沟通能力和协调能力，拥有强烈的责任心和团队合作精神，有较强的数据分析能力，善于思考和总结，能够准确切中用户需求，把握产品核心；<br />5、具有互联网产品的成功经历优先考虑。</span></p>
		     </div>
		    </div>
		   </div>
		  
		   <div class="talent_foot">
		    <p>对以上岗位有意向者，请附上你的简历并注明要应聘的岗位<br /></p>
		    <div class="foot_figure">
		     <p class="fl">发送电子邮件到fxbdzfl@126.com</p>
		     <p class="fl phon">咨询电话：400-188-5167</p>
		    </div>
		   </div>
		   <p><br /></p>
		</div> -->
	</div>
</div>