<div id='footer'>
	<div class='tl_w foot_info'>
		<div class='fl text_info'>
			<dl>
				<dt>交易服务</dt>
				<dd><a target='_blank' href='/page/special/purchase.html'>委托采购优势</a></dd>
				<dd><a target='_blank' href='/page/special/sale.html'>委托销售优势</a></dd>
				<dd><a target='_blank' href='/page/special/flowBuy.html'>委托采购流程</a></dd>
				<dd><a target='_blank' href='/page/special/flowSale.html'>委托销售流程</a></dd>
			</dl>
			<dl>
				<dt>服务指南</dt>
				<dd><a href='javascript:;'>物流配送</a></dd>
				<dd><a href='javascript:;'>资费标准</a></dd>
				<dd><a href='javascript:;'>采购规范</a></dd>
				<dd><a href='javascript:;'>货款结算</a></dd>
			</dl>
			<dl>
				<dt>服务支持</dt>
				<dd><a href='javascript:;'>在线支持</a></dd>
				<dd><a target='_blank' href='/page/help/'>帮助中心</a></dd>
				<dd><a target='_blank' href='/page/about/lxwm.html?typeSn=NLX1610311437466r9o76171477895866524&code=LXWM&lm=联系我们'>联系我们</a></dd>
			</dl>
			<dl class='foot_gywm'>
				<dt>关于我们</dt>
				<!--<dd><a href='javascript:;'>公司信息</a></dd>
				<dd><a href='javascript:;'>文化价值</a></dd>
				<dd><a target='_blank' href='/page/about/index.html?typeSn=NLX16103112490991M3603E1477889349825&code=GYTL&lm=关于淘绿#/about_ryzz/NLX16110210594990L8NS781478055589866'>荣誉资质</a></dd>
				<dd><a target='_blank' href='/page/about/lxwm.html?typeSn=NLX1610311437466r9o76171477895866524&code=LXWM&lm=联系我们'>联系我们</a></dd>-->
			</dl>
		</div>
		<div class='fl pic_code'>
			<p>
				<img src='<%= require('images/fwh_code.jpg') %>' height='129' width='129' style='margin-bottom: 10px;'><br/>
				淘绿服务号<br/>微信也可以买卖货
			</p>
			<p>
				<img src='<%= require('images/dyh_code.jpg') %>' height='129' width='129' style='margin-bottom: 10px;'><br/>
				淘绿订阅号<br/>行业资讯天天读
			</p>
		</div>
		<div class='fl telephone'>
			<p class='tel_txt'>客服电话</p>
			<h1>400-188-5167</h1>
			<p class='num'>传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：<span>0755-21004296</span></p>
			<p class='num'>客服邮箱：<span>service@taolv365.com</span></p>
		</div>
	</div>
	<div class='tl_w beian'>
		<!--<p class='ba_pic'>
			<a href=''><img src='/images/f1.png' height='36' width='102'></a>
			<a href=''><img src='/images/f2.png' height='36' width='102'></a>
			<a href=''><img src='/images/f3.png' height='36' width='122'></a>
			<a href=''><img src='/images/f4.png' height='36' width='102'></a>
		</p>-->
		<p  class='ba_txt'>网站备案：<a class='beianNum' href='http://www.miitbeian.gov.cn/' target='_blank'>粤ICP备14059032号-1</a> ©2009-2017 taolv365.com 深圳淘绿信息科技股份有限公司</p>
	</div>
</div>   
<script type="text/javascript" src="<%= DIRS.BUILD_FILE.js.jquery %>"></script>
</body>
</html>