<%= nav %>
<style type="text/css">
	.page-loading{display: none;}
</style>
<div id="buy_content" class='tl_w' style="min-height: 400px;">
<div style="width:600px; margin:auto;margin-top:50px;text-align:center;">
	<p style="font-size:24px; margin-bottom:20px;">订单提交成功</p>
	<p style="text-align: left;margin-bottom:30px;line-height: 30px;">温馨提示：我们的交易员会尽快与您联系并确认需求细节，相关订单状态会同时发送到您手机上，请注意查收~</p>
	<p><a class='btn_default' href="/page/user/purchase/#/purchase/pur_order" style="width:100px;
	height:43px;text-align:center;line-height: 43px;">查看订单</a></p>
</div>
</div>
