<%= nav %>
<style type="text/css">
	.order_success{
		width: 600px;
		margin: 0 auto;
		height: 500px;
		text-align: center;
	}
	.order_success h3{font-size: 18px;color: #333;text-align: center;padding-top: 50px;padding-bottom: 30px;}
	.order_success p{width: 100%;padding: 5px 0;color: #333;text-align: left;}
	.order_success p.one{margin-bottom: 20px;}
	.order_success span{display: inline-block;width: 100px;text-align: right;}
	.order_success .btn_default{margin-top: 50px;}
</style>
<div id="sell_order_content" class='tl_w '>
	<p class='title'>订单提交成功</p>
	<div class='order_success'>
		<h3>订单提交成功！</h3>
		<p class='one'>
			<span>温馨提示：</span>
			请将货物发至以下地址，相关订单状态会同时发送到您手机上，请注意查收~
		</p>
		<p>
			<span>收件人：</span>
			<font id="name">淘绿网</font>
		</p>
		<p>
			<span>收货电话：</span>
			<font id="telphone">13823566793</font>
		</p>
		<p>
			<span>邮编编码：</span>
			<font id="code">518031</font>
		</p>
		<p>
			<span>联系电话：</span>
			<font id="phone">400-188-5167</font>
		</p>
		<p>
			<span>邮寄地址：</span>
			<font id="addres">深圳市龙华新区和平路24号A栋淘绿网</font>
		</p>
		<a href="/page/user/sales/#/sales_order" class="btn_default">查看订单</a>
	</div>
</div>
