<%= nav%>
<div id="user_content" class='tl_w hide' ng-class="{show:pageLoading}">
	<div class='user_sidebar'>
		<div class='user_panel'>
			<p class='user_image'>
				<img id="user_image" src="<%= require('images/user/user_image.png')%>" height="90" width="90">
			</p>
			<!-- <p class='user_integral'>
				<a class='user_f' href="">10000</a>
				<a class='user_j' href="">5</a>
			</p> -->
		</div>
		<dl class='user_menu'>
			<dt>委托采购</dt>
			<dd><a href="#purchase/pur_order">采购订单</a></dd>
			<dd><a href="#purchase/pur_info">采购信息</a></dd>
			<dd><a href="#purchase/clear_record">出货记录</a></dd>
			<dd><a href="#purchase/quote_admin">报价管理</a></dd>
			<dd><a href="#purchase/retreat_apply">退货申请</a></dd>
			<!-- <dd><a href="#purchase/rebate_admin">返点管理</a></dd> -->
		</dl>
	</div>
	<div class='user_content_view' ng-view>
		  
	</div>
</div>
