<h3 class='box_head'>账号绑定</h3>
<div class='box_body user_banding'>
	<ul class='wrap_bd_ul'>
		<li class='qq s'>
			<span>绑定QQ账号</span>
			<i>已绑定-1416953923</i>
			<button class='fr btn_default relieve_bd'>接触绑定</button>
		</li>
		<li class='wx e'>
			<span>绑定微信账号</span>
			<i>未绑定</i>
			<button class='fr btn_default'>接触绑定</button>
		</li>
		<li class='xl e'>
			<span>绑定QQ账号</span>
			<i>未绑定</i>
			<button class='fr btn_default'>接触绑定</button>
		</li>
	</ul>
</div>
<script type="text/javascript">
	function account_binding($scope){
		console.log($scope)
	}
</script>