<%= nav %>
<div class="message_center hide" ng-class="{show:pageLoading}">
	<div class="message_left">
		<p class='mulu' ng-bind-html="mlHtml"></p>
		<ul class="message_list">
			<li ng-repeat="d in list">
				<a ng-if="d.imageUrl!=''" href="{{d | typeUrl}}" target="blank"><img ng-src="{{d.imageUrl}}" alt="" class="fl"></a>
				<dl class="fl">
					<dt><a href="{{d | typeUrl}}" target="blank">{{d.title}}</a></dt>
					<dd>
						{{d.bewrite}}
					</dd>	

				</dl>
				<p >
					<span><i></i>发布时间：{{d.releaseDate | toDate}}</span>
					<!-- <a href="{{d | typeUrl}}"  target="blank" class="fr"></a> -->
				</p>
			</li>
		</ul>
		<a ng-if="isMore" href="" ng-click="loadMore($event)">点击加载更多</a>
		<span ng-if="!isMore">没有更多数据了</span>
	</div>
	<div class="message_right">
		<p>{{ph.RMPH.showName}}</p>
		<ul>
			<li ng-repeat="d in ph.RMPH.newsList" ng-init="i=$index" class="{{i>0?'ph_li':''}}">
				<a href="{{d | bitUrl:ph.RMPH.sn:ph.RMPH.showName}}">
					<i class="fl {{i<3?'single':''}}">{{i+1}}</i>
					<img ng-if="i==0" class="fl" ng-src="{{d.imageUrl}}" alt="">
					<span>{{d.newsTitle}}</span>
				</a>
			</li>
		</ul>
	</div>
</div>
